@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&family=Caveat&display=swap');

.comment-list{
    width:100%;
}

.comment-box{
    width:100%;
    min-height: 30vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin:1vh 0 1vh 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.user{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    background-color: #3EBB75;
    color: #fff;
    text-transform: capitalize;
}


.user-photograph{
    border-radius:200px;
    border:1px solid black;
    width:8vh;
    height:8vh;
    margin:0 4vw 0 2vw ;
}

.comment {
    width:88%;
    overflow-y: auto;
    margin:2vh 3% 0 3% ;
    padding:1vh 2vw 0 2vw;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    outline: none;
}

.comment:focus{
    background: #ffffe6;
    border:1px dotted black;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons button{
    width:33.33%;
    height:2%;
    border:none;
    color:white;
    margin:1vh 1vw 1vh 1vw;
    padding: 1vh 0 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:3vh;
    font-size:1rem;
    border-radius: 20px;
} 

.buttons .publish{
    background-color:  #88ff4d;
}
.buttons .cancel{
    background-color: #ffbb99;
}

.buttons .delete{
    background-color: #ff704d;
}

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */

}
@media only screen and (device-width: 768px) {
   /* default iPad screens */

}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */

    .user{
        font-size: 2.5rem;
    }
    .comment{
        font-size: 2.3rem;
    }

    .buttons button{
        font-size: 1.6rem;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */

    .user{
        font-size: 2rem;
    }
    .comment{
        font-size: 1.5rem;
    }

    .buttons button{
        font-size:1.6rem;
    }
}

@media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (orientation:landscape){

    .user{
        font-size: 2.5rem;
    }
    .comment{
        font-size: 2.3rem;
    }
    .buttons button{
        font-size: 2rem;
    }

}